@page
@model MorganInventory.App.Presentacion.Pages_Productos.CreateModel
@{
}

<h2>Productos</h2><hr/>

<div>
<a class="btn btn-primary btn-lg float-right" href="#" role="button">Agregar Producto</a>
</div>
<br> <br>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Id_Producto</th>
      <th scope="col">Precio compra</th>
      <th scope="col">Precio venta</th>
      <th scope="col">Cantidad</th>
      <th scope="col">Añadido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1001</th>
      <td>40.000</td>
      <td>79.000</td>
      <td>10</td>
      <td>2021/11/10</td>
    </tr>
    <tr>
      <th scope="row">1002</th>
      <td>30.000</td>
      <td>98.000</td>
      <td>5</td>
      <td>2021/11/10</td>
    </tr>
    <tr>
      <th scope="row" >1003</th>
      <td>150.000</td>
      <td>300.000</td>
      <td>2</td>
      <td>2021/11/10</td>
    </tr>
  </tbody>
</table>








